.portfolio-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    width: 180px;
    height: 180px;
    border: 3px #484c50 solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio-icon.icon-tba {
    background-image: url(../assets/img/portfolio/tba.png);
}

.portfolio-icon.icon-gloopybot {
    background-image: url(../assets/img/portfolio/gloopybot.png);
}

.portfolio-icon.icon-wikialinker {
    background-image: url(../assets/img/portfolio/wikialinker.png);
}

.portfolio-icon.icon-googlr {
    background-image: url(../assets/img/portfolio/googlr.png);
}

.portfolio-icon.icon-birbbot {
    background-image: url(../assets/img/portfolio/birbbot.png);
}

.portfolio-icon.icon-bugebot {
    background-image: url(../assets/img/portfolio/bugebot.png);
}

.portfolio-icon.icon-charbotte {
    background-image: url(../assets/img/portfolio/charbotte.png);
}

.portfolio-icon.icon-chungocraft {
    background-image: url(../assets/img/portfolio/chungocraft.png);
}

.portfolio-icon.icon-frob {
    background-image: url(../assets/img/portfolio/frob.png);
}

.portfolio-icon.icon-froggobot {
    background-image: url(../assets/img/portfolio/froggobot.png);
}

.portfolio-icon.icon-homewardbot {
    background-image: url(../assets/img/portfolio/homewardbot.png);
}

.portfolio-icon.icon-rosebot {
    background-image: url(../assets/img/portfolio/rosebot.png);
}

.portfolio-icon.icon-shitpeoplebot {
    background-image: url(../assets/img/portfolio/shitpeoplebot.png);
}

.portfolio-icon.icon-terribot {
    background-image: url(../assets/img/portfolio/terribot.png);
}

.portfolio-icon.icon-frogleap {
    background-image: url(../assets/img/portfolio/frogleap.png);
}

.portfolio-icon.icon-newxkit {
    background-image: url(../assets/img/portfolio/newxkit.png);
}