@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(92, 85, 7);
    color: gainsboro;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

header {
    width: 100%;
}

header h1 {
    font-size: 2.2em;
}

a {
    color: cornflowerblue;
}

button#go {
    width: 100%;
}

button#go h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    padding: 1% 0;
}

p#reminder {
    font-style: italic;
}

section#output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    width: 65%;
}

img#card-image, img#card-image-back {
    width: 100%;
    max-width: 20em;
    height: auto;
    margin-bottom: 3%;
}

div#card-data {
    text-align: left;
    width: 100%;
    max-width: 60%;
}

i.ms {
    font-size: 0.8em;
}

i.ms.ms-loyalty-down, i.ms.ms-loyalty-up, i.ms.ms-loyalty-zero {
    font-size: 1.2em;
}

#flip-icon {
    cursor: pointer;
}

footer {
    font-size: 0.9em;
    padding-top: 30px;
}